*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* * {
  color: #505050;
} */

.group::after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: white;
}

.fixedWidth {
  width: 976px;
  margin: 0 auto;
}

.clearFloats {
  clear: both;
}

a {
  text-decoration: none;
}

/* ================================= */

/* ---- Top Navigation - START ----- */

/* ================================= */

.borderRight {
  border-right: 1px solid #990000;
}

#topBar {
  background-color: rgba(122, 0, 0, .60);
  width: 100%;
  height: 40px;
  position: absolute;
}

.wrap {
  position: relative;
}

#logoDiv, #loginDiv, #searchDiv {
  float: left;
}

#logoDiv {
  padding: 8px 10px 4px;
}

#loginDiv {
  padding: 5px 30px 11px;
}

#loginDiv a {
  margin: 0;
  width: 60px;
  font-weight: bold;
  text-align: center;
}

#loginDiv img {
  position: relative;
  top: 4px;
  height: 20px;
}

#topMenuDiv ul {
  margin: 0;
  padding: 0;
}

#topMenuDiv li {
  border-right: 1px solid #990000;
  padding: 10px 11px 10px;
  */ display: inline-block;
  list-style: none;
  font-weight: bold;
  float: left;
}

#topMenuDiv li a, #loginDiv a {
  color: white;
}

#topMenuDiv li:hover {
  margin-top: -1px;
  padding-top: 11px;
  padding-bottom: 7px;
}

#news:hover {
  border-bottom: solid 4px #9b2313;
}

#spo:hover {
  border-bottom: solid 4px #ffe711;
}

#wea:hover {
  border-bottom: solid 4px #77cdff;
}

#ipl:hover {
  border-bottom: solid 4px #ed3482;
}

#wht:hover {
  border-bottom: solid 4px white;
}

#searchDiv {
  padding: 8px 20px;
  width: 20px;
}

#searchDiv input {
  width: 232px;
  height: 22px;
  border: none;
  padding: 0 10px;
  background-image: url("icon-search.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right center;
  background-position: 210px 3px;
  font-weight: bold;
}

/* ----- Top Navigation - END ----- */

/* ================================ */

/* ---- News & RSS Bar - START ---- */

#newsBar {
  background-color: #990000;
  background-image: url("redPlanet.png");
  background-repeat: no-repeat;
  background-position: center;
}

#newsBar {
  padding-top: 30px;
  width: 100%;
  height: 132px;
}

#newsBar p {
  padding-top: 15px;
  padding-left: 5px;
  margin: 0;
  float: left;
}

#newsHeader {
  font-size: 3em;
}

#newsHeader a {
  color: white;
}

#uk {
  font-size: 0.7em;
  padding-left: 15px;
}

#rss {
  float: right;
  margin-top: 45px;
  padding-right: 8px;
}

#rss a {
  color: white;
  font-size: 0.80em;
}

#rss p:hover {
  color: white;
  text-decoration: underline;
}

#rss img {
  height: 15px;
}

#rss p {
  padding: 1px 2px 0;
}

/* ------ News & RSS Bar - END ----- */

/* ================================= */

/* ------- Topic Bar - START ------- */

#topicMenu li {
  border-right: 1px solid #990000;
}

#topicMenu {
  padding-top: 65px;
}

#topicMenu ul {
  background-color: #3E0C0D;
  padding: 5px 0 0 5px;
  height: 20px;
  width: 976px;
  padding: 0;
}

#topicMenu li {
  list-style: none;
  font-size: 0.7em;
  font-weight: bold;
  padding: 4px 8px 3px;
  float: left;
}

#topicMenu a {
  color: white;
}

#topicMenu a:hover {
  text-decoration: underline;
}

#topicMenu li:last-child {
  border: none;
}

#liSelected {
  background-color: #EDEDED;
  color: #666666;
}

#liSelected a {
  color: #666666;
}

/* -------- Topic Bar - END -------- */

/* ================================= */

/* ----- Main Articles - START ----- */

.allArticlesWrapper ul li a {
  color: #1f4f82
}

.allArticlesWrapper a:hover {
  text-decoration: underline;
}

.mainWrapper h1 {
  font-size: 2.461em;
  color: #1f4f82;
  margin: 0;
  padding-bottom: 8px;
}

.mainWrapper h3 {
  font-size: 1.2em;
  color: #1f4f82;
  margin: 0;
  padding-bottom: 5px;
}

#content {
  color: #535353;
  font-size: 0.7em;
}

#mainDate {
  font-size: 1.1em;
  padding: 12px 0 4px;
}

.allArticlesWrapper {
  width: 625px;
}

.floaters img, .floatLeft {
  float: left;
  width: 304px;
}

.articleBox, .floatRight {
  float: right;
  width: 304px;
}

.articleBox p {
  margin: 0;
  font-size: 1.3em;
}

.articleBox a {
  font-size: 1.1em;
  padding-top: 4px;
  /* display: block; */
}

.asideFloat {
  float: right;
  width: 336px;
}

.floaters {
  padding: 10px 0;
}

.noMargin {
  margin: 0;
}

/* ------ Main Articles - END ------ */

/* ================================= */

/* ----- Small Articles - SART ----- */

.articleSmallBox H3 {
  padding: 5px 0;
}

.articleSmallBox p {
  margin: 0;
  font-size: 1.3em;
  padding-bottom: 10px;
}

.articleSmallBox a {
  font-weight: bold;
  font-size: 1.2em;
}

.listPadding li {
  padding-top: 7px;
  list-style: none;
}

.listPadding ul {
  padding-left: 0;
}

/* ------ Small Articles - END ------ */

/* ================================= */

/* ------- Also News - START ------- */

.AlsoInTheNews h1 {
  font-size: 2.2em;
  font-weight: bold;
  color: #505050;
}

.AlsoInTheNews h3 a {
  font-size: 1.2em;
}

.localNews a {
  font-size: 1.1em;
  font-weight: bold;
}

.AlsoInTheNews img {
  width: 120px;
}

.AlsoInTheNews img {
  padding-right: 10px;
}

.AlsoInTheNews h3 {
  padding: 20px 0 35px;
}

.underline {
  border-bottom: 1px solid #ddd;
}

/* -------- Also News - END -------- */

/* ================================= */

/* ------ Local News - START ------- */

.localNewsDiv {
  width: 624px;
  height: 202px;
  background-color: #3c3e51;
  border: 10px solid #262835;
}

.localNewsSubDivs {
  width: 295px;
  color: white;
  padding: 0 10px;
}



.localArticles a {
  display: block;
  padding: 5px 0;
  color: #ACC2D4;
  font-weight: bold;
}

.localNewsSubDivs h2 a {
  color: white;
}

.localNewsSubDivs h2 {
  border-bottom: 1px solid #262835;
  padding-bottom: 5px;
  margin: 12px 0 5px;
}

.localNewsSubDivs a:hover {
  text-decoration: underline;
}

/* ------- Local News - END -------- */

/* ================================= */

/* ---------- Aside - START -------- */

#topMargin {
  margin-top: 43px;
}

.asideWrapper {
  margin: 0 10px;
}

.asaideBox {
  background-color: #eee;
  padding: 1px 0;
}

.asaideBox h2 {
  color: #505050;
  margin: 0;
  padding: 5px 0;
}


.asaideBox a {
  padding: 5px 5px 5px 35px;
  display: block;
  background-image: url("live.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 0px 6px;
}

/* .asaideBox img {
  padding-right: 5px;
  display:inline-block;
} */

/* ================================= */

/* ----------- Aside - END --------- */
