*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
}

.clearFloats {
  clear: both;
}

.group::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.fixedWidth {
  width: 976px;
  margin: 0 auto;
}

/* ---- Top Navigation - START ----- */

.borderRight {
  border-right: 1px solid #990000;
}

#topBar {
  background-color: rgba(80, 80, 80, .40);
  width: 100%;
  height: 40px;
  position: absolute;
}

.wrap {
  position: relative;
}

#logoDiv, #loginDiv, #searchDiv {
  float: left;
}

#logoDiv {
  padding: 8px 10px 4px;
}

#loginDiv {
  padding: 5px 52px 11px;
}

#loginDiv a {
  margin: 0;
  width: 60px;
  text-align: center;
}

#loginDiv img {
  position: relative;
  top: 4px;
  height: 20px;
}

#topMenuDiv ul {
  margin: 0;
  padding: 0;
}

#topMenuDiv li {
  border-right: 1px solid #990000;
  padding: 10px 15px;
  */ display: inline-block;
  list-style: none;
  float: left;
}

#topMenuDiv li:hover {
  margin-top: -1px;
  padding-top: 11px;
  padding-bottom: 7px;
}

#news:hover {
  border-bottom: solid 4px #9b2313;
}

#spo:hover {
  border-bottom: solid 4px #ffe711;
}

#wea:hover {
  border-bottom: solid 4px #77cdff;
}

#ipl:hover {
  border-bottom: solid 4px #ed3482;
}

#wht:hover {
  border-bottom: solid 4px white;
}

#searchDiv {
  padding: 8px 10px;
  width: 20px;
}

#searchDiv input {
  width: 215px;
  height: 22px;
  border: none;
  padding: 0 10px;
  background-image: url("img/icon-search.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right center;
  background-position: 195px 3px;
}

/* ----- Top Navigation - ENDS ----- */

/* ---- News & RSS Bar - START ---- */

#newsBar {
  background-color: #990000;
  background-image: url("img/redPlanet.png");
  background-repeat: no-repeat;
  background-position: center;
}

#newsBar {
  padding-top: 46px;
  height: 128px;
}

#newsHeader a {
  float: left;
  padding-left: 8px;
}

#uk {
  display: inline-block;
  padding-left: 15px;
  margin-top: 13px;
}

#rss {
  margin-top: -25px;
  margin-right: 10px;
  float: right;
  padding: 0 20px 0 0;
  background-image: url("img/rss.png");
  background-repeat: no-repeat;
  background-position: 30px 2px;
  background-size: 15px;
}

/* ------ News & RSS Bar - ENDS ----- */

/* ------- Topic Bar - START ------- */

#topicMenu li {
  border-right: 1px solid #5b2d2f;
}

#topicMenu {
  padding-top: 6px;
}

#topicMenu ul {
  background-color: #3E0C0D;
  padding: 5px 0 0 5px;
  height: 24px;
  width: 976px;
  padding: 0;
}

#topicMenu li {
  list-style: none;
  padding: 3px 6px 3px;
  float: left;
}

#topicMenu li:last-child {
  border: none;
}

#liSelected {
  background-color: #EDEDED;
}

/* -------- Topic Bar - ENDS -------- */

/* ----- Main Articles - START ----- */

.allArticlesWrapper h1 {
  display: block;
  padding-bottom: 8px;
}

.articleBox h3 a {
  padding-bottom: 5px;
}

#mainDate {
  padding: 12px 0 0px;
}

.allArticlesWrapper {
  width: 625px;
}

.floaters img, .floatLeft {
  float: left;
  width: 304px;
}

.articleBox, .floatRight {
  float: right;
  width: 304px;
}

.articleBox p {
  margin: 0;
}

.articleBox a {
  display: block;
  padding-top: 4px;
}

.asideFloat {
  float: right;
  width: 336px;
}

.floaters {
  padding: 10px 0;
}

.noMargin {
  margin: 0;
}

/* ------ Main Articles - ENDS ------ */

/* ----- Small Articles - SART ----- */

.articleSmallWrap {
  margin-bottom: 20px;
}

.articleSmallBox H3 {
  padding: 5px 0;
}

.articleSmallBox p {
  padding-bottom: 10px;
  margin: 0;
}

.listPadding li {
  padding-top: 6px;
  list-style: none;
}

.listPadding ul {
  padding-left: 0;
}

/* ------ Small Articles - ENDS ------ */

/* ------- Also News - START ------- */

.AlsoInTheNews img {
  width: 120px;
}

.AlsoInTheNews img {
  padding-right: 10px;
}

.AlsoInTheNews h3 {
  padding: 20px 0 35px;
}

.underline {
  border-bottom: 1px solid #ddd;
}

.overline {
  border-top: 1px solid #ddd;
}

/* -------- Also News - ENDS -------- */

/* ------ Local News - START ------- */

.localNewsDiv {
  width: 624px;
  height: 208px;
  background-color: #3c3e51;
  border: 10px solid #262835;
}

.localNewsSubDivs {
  width: 295px;
  padding: 0 10px;
}

.localArticles a {
  display: block;
  padding: 5px 0;
}

.localNewsSubDivs h2 {
  border-bottom: 1px solid #262835;
  padding-bottom: 5px;
  margin: 12px 0 5px;
}

/* ------- Local News - ENDS -------- */

/* ------- Our Expert - Start -------- */

.someTopMargin {
  padding: 14px 0 8px;
  margin-bottom: 8px;
}

.theExpert img, .expertInfo {
  float: left;
}

.floatitLeft {
  float: left;
}

.floatitRight {
  float: right;
}

.expertInfo ul {
  padding: 0;
}

.theExpert img {
  padding-right: 10px;
}

.expertInfo ul li:last-child {
  padding-left: 10px;
}

.expertInfo ul li:first-child a {
  border-right: solid 1px #cccccc;
  padding-right: 10px;
}

/* ------- Our Expert - ENDS -------- */

/* ------- Expert Info - START ------- */

#expertMoreInfo {
  background-color: #ededed;
  padding: 8px;
}

/* ------- Expert Info - ENDS ------- */

/* ----- Special Reports - START ----- */

#specialReports img {
  /* display: block; */
  margin-right: solid 1px white;
}

#mainReport, #moreReports {
  width: 320px;
  padding: 10px 0 0 14px;
}

#mainReport {
  background-color: #D2700E;
  height: 110px;
}

#mainReport p {
  margin: 4px 8px 8px 0;
}

#moreReports {
  border-top: solid 1px white;
  background-color: #ededed;
  height: 60px;
}

#moreReports a {
  display: block;
  margin: 5px 0;
}

/* ----- Special Reports - ENDS ------ */

/* -------- MoreFromUK - START ------- */

.subArticleMoreUK {
  width: 144px;
  margin-right: 16px;
}

.subArticleMoreUK h3 {
  padding: 9px 0 11px;
  margin-bottom: 6px;
}

.subArticleMoreUK ul {
  padding: 5px 0 0 0;
}

.subArticleMoreUK ul li h4 {
  padding: 5px 0;
}

/* -------  MoreFromUK - ENDS -------  */

/* -------  FROM BBC - STARTS -------  */

#bbcTravel {
  margin-top: 8px;
  margin-bottom: 12px;
}

#bbcTravel h2 {
  padding: 8px 0;
  margin-bottom: 8px;
}

#bbcTravel img {
  width: 304px;
  height: 170px;
  position: relative;
}

#bbcTravel ul {
  padding: 0;
}

.blackBackground {
  background-color: rgba(0, 0, 0, .60);
  width: 304px;
  height: 50px;
  position: absolute;
  margin-top: -54px;
}

.blackBackground a {
  padding-top: 5px;
}

.blackBackground a, .blackBackground span {
  display: inline-block;
  padding-left: 10px;
}

.displayAsBlock {
  display: inline-block;
}

/* --------  FROM BBC - ENDS --------  */

/* -------  Democracy Live - STARTS --------  */

#demoLive h2 {
  padding: 7px 0;
  margin-bottom: 7px;
}

.demoLiveBox {
  margin-left: 15px;
  width: 465px;
  height: 90px;
}

/* ---------  Democracy Live - ENDS --------  */

/* ---------  Find A Rep - START --------  */

#findRep {
  margin-top: 10px;
  margin-bottom: 30px;
}

#findRep h2 {
  padding: 12px 0 8px;
}

#findRep input {
  width: 100%;
}

/* ---------  Find A Rep - ENDS --------  */

/* ---------- Aside - START ---------- */

.topMargin {
  margin-top: 16px;
}

.asideMainHeader {
  padding: 8px 8px;
  margin: 0;
}

.asaideBox {
  background-color: #eee;
}

.asaideBox a {
  padding: 7px 5px 8px 40px;
  display: block;
}

.liveImage {
  background-image: url("img/live.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 6px 7px;
}

.videoBoxes {
  margin-top: 18px;
  margin-right: 5px;
}

.videoBoxes li {
  background-color: #505050;
  margin: 2px;
  float: left;
  height: 8px;
  width: 8px;
}

#videoBoxesSelected {
  background-color: #D2700E;
}

#asideVideoWrapper {
  height: 124px;
  width: 336px;
}

.asideArrowBox {
  background-color: rgba(80, 80, 80, .90);
  width: 24px;
  height: 124px;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 5px 55px;
}

.asideArrowBox:after {
  filter: invert(100%);
}

.asideArrowLeft {
  background-image: url("img/arrowLeft.png");
}

.asideArrowRight {
  background-image: url("img/arrowRight.png");
}

.asideVideoBox {
  padding: 0;
  height: 124px;
  width: 288px;
}

.asideVideoBox li {
  float: left;
  height: 124px;
  width: 144px;
  background-color: rgb(209, 112, 14);
  background-repeat: no-repeat;
}

.asideVideoBox li a {
  color: white;
  margin-top: 81px;
  padding: 5px 7px;
  height: 43px;
  width: 142px;
}

.asideVideo1 {
  border-left: solid 1px white;
  border-right: solid 1px white;
  background-image: url("img/asideVid1.jpg");
}

.asideVideo2 {
  border-right: solid 1px white;
  background-image: url("img/asideVid2.jpg");
}

.featNana {
  height: 480px;
}

.featNana ul {
  padding: 0;
}

.featNana li {
  margin: 8px 8px;
  height: 64px;
  width: 320px;
}

.featNana li:first-child {
  margin-top: 0;
}

.featureArticle {
  height: 60px;
  width: 200px;
}

.featureArticle p {
  padding: 6px 0 4px;
}

.featNana li a {
  padding: 0;
}

.mostPop {
  height: 270px;
}

.mostPop h3 {
  padding: 0px 8px 3px;
}

.mostPop ul {
  padding: 7px 7px;
}

.mostPop ul li {
  border-top: 1px solid #eee;
  background-color: #ffffff;
  width: 322px;
  height: 39px;
  position: relative;
}

.mostPop ul li a {
  padding: 11px 29px 12px 8px;
}

.mostPop ul li p {
  transform: rotate(90deg);
  height: 22px;
  width: 32px;
  position: absolute;
  top: 9px;
  right: -4px;
}

.programmes h2 {
  padding: 3px 8px;
  color: white;
}

.programmesBox img {
  padding: 8px 8px 0px;
}

.programmes {
  background-color: #000000;
  height: 195px;
}

.programmes ul {
  padding: 7px;
}

.programmes ul li {
  margin-top: 7px;
}

.programmes ul li img {
  width: 112px;
  height: 64px;
}

.programmes ul li div {
  width: 200px;
}

.programmes ul li h4 {
  padding-top: 5px;
}

/* ----------- Aside - ENDS --------- */

/* ----------- Aside - ENDS --------- */

/* --------- Footer - Start --------- */

.underlineBold {
  border-bottom: 1px solid black;
}

.footerSerices ul, .aboutWrap ul, .bbcFooter ul {
  padding: 0;
}

.footerSerices {
  width: 640px;
}

.aboutWrap h2 {
  padding-bottom: 20px;
}

.footerSerices li {
  float: left;
  padding: 20px 70px 20px 0;
}

.footerSerices li:last-child {
  padding-right: 0;
}

.bbcFooter img{
margin-top: 15px;
}

.bbcFooter ul {
  padding: 16px 16px 13px 0;
}

.bbcFooter ul li {
  float: left;
  /* padding-right: 27px; */
  margin-right: 60px;
  width: 100px;
}

#copyrightStuff {
padding-top: 20px;
}

.bbcFooter {
  margin-bottom: 20px;
}

/* --------- Footer - Start --------- */
