/* --------- Font-Hover-Style --------- */

a {
  text-decoration: none;
}

.listStyleNone li p:hover {
  color: #D2700E;
}

.liveImage a:hover, .asideVideoBox li a:hover, #rss a:hover, #topicMenu a:hover, .allArticlesWrapper a:hover, .localNewsSubDivs a:hover, .featNana a h3:hover, .mostPop li a:hover, .programmes h4:hover {
  text-decoration: underline;
}

.listStyleNone, .featNana li, .expertInfo ul li, .videoBoxes li {
  list-style-type: none;
}

/* ------------ Font-Colors ----------- */

header * {
  color: white
}

.articleBox a, .allArticlesWrapper h1 a, .articleSmallBox a, .AlsoInTheNews h3, .theExpert span a, .expertInfo ul li, .expertInfo ul li a, #expertMoreInfo h2 a, #expertMoreInfo p a, .liveImage a, .featNana a h3, .mostPop li a {
  color: #1F4F82;
}

#liSelected a, .articleBox p, .articleSmallBox p, .AlsoInTheNews h2, .localNews a, #OurExperth2 #expertMoreInfo p, .asideMainHeader, .featNana a p, .mostPop h3, .mostPop li p {
  color: #505050;
}

.mostPop li p {
  color: #A9A9A9
}

.programmes h4 {
  color: #A9C0D3;
}

.localArticles a {
  color: #ACC2D4;
}

.localNewsDiv h2, .localNewsDiv h2 a {
  color: #f0f0f0;
}

.programmes P {
  color: #eee;
}

#exOrange {
  color: #D2700E;
}

/* ------------ Font-Sizes ------------ */

#newsHeader a {
  font-size: 45px;
}

.allArticlesWrapper h1 {
  font-size: 32px;
}

#uk {
  font-size: 30px;
  line-height: 40px;
}

.AlsoInTheNews h2, #OurExperth2, .theExpert span a {
  font-size: 24px;
}

#expertMoreInfo p, #expertMoreInfo p a {
  font-size: 18px;
}

.articleBox h3 a, .articleSmallBox h3 a, .AlsoInTheNews h3, .localNewsDiv h2, .localNewsDiv h2 a, #exOrange, #expertMoreInfo h2, #expertMoreInfo h2 a, .featNana a h3, .mostPop h3 {
  font-size: 16px;
}

.asideVideoBox, .liveImage a, .mostPop li a, .mostPop li p, .programmes h4 {
  font-size: 13px;
}

#loginDiv a, #topMenuDiv a, #rss a, #mainDate, .articleBox p, .articleBox a, .articleSmallBox p, .articleSmallBox a, .localNews a, .localArticles a, .expertInfo ul li, .expertInfo ul li a, .featNana a p, .programmes P {
  font-size: 13px;
}

#topicMenu a {
  font-size: 12px;
}

/* ----------- Font-Weights ----------- */

#loginDiv a, #topMenuDiv li, #searchDiv input, #rss a, #topicMenu li, .theExpert span a, #expertMoreInfo h2 a, #expertMoreInfo p a, .articleSmallBox a, .AlsoInTheNews h1, .localNews a, .localArticles a {
  font-weight: bold;
}

.mostPop li p {
  font-weight: 900;
}

.expertInfo ul li a, .programmes h4, .allArticlesWrapper h1, .liveImage a, .asideMainHeader, .mostPop h3, .mostPop li a {
  font-weight: 700;
}

.programmes P, .articleBox p {
  font-weight: 400;
}

#expertMoreInfo h2 {
  font-weight: normal;
}

/* ----------- Font-Heights ----------- */

.articleBox p, .articleSmallBox p, #topMenuDiv a, #topMenuDiv a {
  line-height: 16px;
}
