/* --------- Font-Hover-Style --------- */

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.liveImage a:hover, .asideVideoBox li a:hover, #rss a:hover, #topicMenu a:hover, .allArticlesWrapper a:hover, .localNewsSubDivs a:hover, .featNana a h3:hover, .mostPop li a:hover, .programmes h4:hover, footer a:hover {
  text-decoration: underline;
}

/* ------------ Font-Colors ----------- */

header *, #mainReport h3 a, #mainReport p, .blackBackground a, .blackBackground span {
  color: white;
}

.articleBox a, .allArticlesWrapper h1 a, .articleSmallBox a, .theExpert span a, .expertInfo ul li, .expertInfo ul li a, #expertMoreInfo h2 a, #expertMoreInfo p a, .AlsoInTheNews h3 a {
  color: #1F4F82;
}

.liveImage a, .featNana a h3, .mostPop li a, .footerWrap h2 a, .aboutWrap h2, .footerSerices ul li a, .aboutWrap ul li a, .displayAsBlock h3 a {
  color: #1F4F82;
}

#demoLive h2, #bbcTravel h2, #moreFromUK h2, #specialReports h2, #OurExpert h2, .AlsoInTheNews h2, #moreReports a {
  color: #1F4F82;
}

#liSelected a, .articleBox p, .articleSmallBox p, .AlsoInTheNews h2, .localNews a, #OurExperth2 #expertMoreInfo p, .asideMainHeader, .featNana a p, .mostPop h3, .mostPop li p, .subArticleMoreUK *, .footerSerices h2, .displayAsBlock p, #moreReports p {
  color: #505050;
}

.bbcFooter ul li a, #copyrightStuff * {
  color: #4c4c4c;
}

.mostPop li p {
  color: #A9A9A9
}

.programmes h4, .localArticles a {
  color: #A9C0D3;
}

.localNewsDiv h2, .localNewsDiv h2 a, .programmes P {
  color: #f0f0f0;
}

.listStyleNone li p:hover {
  color: #D2700E;
}

#exOrange {
  color: #D2700E;
}

/* ------------ Font-Sizes ------------ */

#newsHeader a {
  font-size: 45px;
}

.allArticlesWrapper h1 {
  font-size: 32px;
}

#uk {
  font-size: 30px;
  line-height: 40px;
}

.AlsoInTheNews h2, #OurExperth2, .theExpert span a, .footerWrap h2, .aboutWrap h2, .footerSerices h2 {
  font-size: 24px;
}

#expertMoreInfo p, #expertMoreInfo p a {
  font-size: 18px;
}

.articleBox h3 a, .articleSmallBox h3 a, .AlsoInTheNews h3, .localNewsDiv h2, .localNewsDiv h2 a, #exOrange, #expertMoreInfo h2, #expertMoreInfo h2 a, .featNana a h3, .mostPop h3, .subArticleMoreUK h3 a, .blackBackground a, #findRep h2, .displayAsBlock h3 a, #mainReport h3 a {
  font-size: 16px;
}

#loginDiv a, #topMenuDiv a, #rss a, #mainDate, .articleBox p, .articleBox a, .articleSmallBox p, .articleSmallBox a, .localNews a, .localArticles a, .expertInfo ul li, .expertInfo ul li a, .featNana a p, .programmes P, .subArticleMoreUK ul * {
  font-size: 13px;
}

.asideVideoBox, .liveImage a, .mostPop li a, .mostPop li a, .programmes h4, .blackBackground span .footerSerices li a, #moreReports a, #mainReport p, .blackBackground span  {
  font-size: 13px;
}

.aboutWrap li a, .footerSerices ul li a, .displayAsBlock p, #moreReports p, .mostPop li p {
  font-size: 13px;
}

#topicMenu a, .bbcFooter ul li a, #copyrightStuff * {
  font-size: 12px;
}

/* ----------- Font-Weights ----------- */

#loginDiv a, #topMenuDiv li, #searchDiv input, #rss a, #topicMenu li, .theExpert span a, #expertMoreInfo h2 a, #expertMoreInfo p a, .articleSmallBox a, .AlsoInTheNews h1, .localNews a, .localArticles a {
  font-weight: bold;
}

.mostPop li p {
  font-weight: 900;
}

.expertInfo ul li a, .programmes h4, .allArticlesWrapper h1, .liveImage a, .asideMainHeader, .mostPop h3, .mostPop li a, .subArticleMoreUK h3 a, .blackBackground a, #findRep h2, .footerSerices li a, .aboutWrap li a, .footerSerices h2, .displayAsBlock h3 a, #moreReports p, #moreReports a {
  font-weight: 700;
}

/* .programmes P, .articleBox p, .blackBackground span, .displayAsBlock p {
  font-weight: 400;
}

#expertMoreInfo h2 {
  font-weight: normal;
} */

/* ----------- Font-Heights ----------- */

.articleBox p, .articleSmallBox p, #topMenuDiv a, #topMenuDiv a {
  line-height: 16px;
}

.allArticlesWrapper h1 a {
  line-height: 32px;
}
